* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #282828;
}

.main-header {
	display: flex;
	align-items: center;
	top: 0;
	width: 100%;
	justify-content: space-between;
	/* position: fixed; */
}

ul {
	list-style-type: none;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.main-header__title {
	color: #bcbcbc;
	margin-left: 1rem;
}

.main-header:hover h1 {
	font-weight: 50;
}

/* Menu Button */
.menu-button div {
	height: 4px;
	background-color: #bcbcbc;
	margin: 5px 0;
	border-radius:25 px;
	transition: 0.3s;
}

.menu-button {
	width: 30px;
	display: block;
	margin-right: 1rem;
}

.bar1 {
	width: 30px;
}

.bar2 {
	width: 20px;
}

.bar3 {
	width: 25px;
}

.menu-button:hover div {
	width: 30px;
}

.hero-photo {
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url(../images/computer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 75vh;
	margin-bottom: 2rem;
}

.hero-photo__text {
	font-size: 7rem;
	font-weight: 50;
	border-bottom: 1px solid;
	border-top: 1px solid;
	padding-top: 0px;
	color: #bcbcbc;
	margin-bottom: 10px;
	/* font-family: Arial, Helvetica, sans-serif; */
}

.hero-photo__subtext {
	font-size: 2rem;
	/* font-family: Arial, Helvetica, sans-serif; */
	color: #bcbcbc;
	font-weight: 0;
}

/* .portfolio-button {
	align-items: center;
	text-align: center;
	margin-top: 6rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	border: 1px solid;
	border-color: #bcbcbc;
	padding: 1px 1.5px 1px 1.5px;
	color: #bcbcbc;
	border-radius: 25px;
} */

/* .portfolio-button:hover {
	color: rgba(188, 188, 188, 0.35);
	background-color: rgba(188, 188, 188, 0.15);
} */

.bio-block {
	background-color: #282828;
	height: 200px;
	text-align: center;
}

.bio-block__title {
	color: #bcbcbc; 
	font-size: 2rem;
	font-weight: 0;
}

.we {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #ef048d;
}

.can {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #51b551;
}

.code {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #4a7fa8;
}

.it {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #b74517;
}

.we-can:hover {
	color: black;
}
a {
	text-decoration: none;
}
.contact-me-block {
	background-color: #4f4f4f;
	height: 200px;
	text-decoration: none;
}









