* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #282828;
}

.main-header {
	display: flex;
	align-items: center;
	top: 0;
	width: 100%;
	justify-content: space-between;
	position: fixed;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.main-header__title {
	color: #bcbcbc;
	margin-left: 1rem;
	cursor: pointer;
}

.main-header__title:hover {
	font-weight: 50;
}

/* Menu Button */
.menu-button div {
	height: 4px;
	background-color: #bcbcbc;
	margin: 5px 0;
	border-radius:25 px;
	transition: 0.3s;
}

.menu-button {
	width: 30px;
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.bar1 {
	width: 30px;
}

.bar2 {
	width: 20px;
}

.bar3 {
	width: 25px;
}

.menu-button:hover div {
	width: 30px;
}

.hero-photo {
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url(../images/computer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 95vh;
	margin-bottom: 2rem;
}

.hero-photo__text {
	font-size: 7rem;
	font-weight: 50;
	border-bottom: 1px solid;
	border-top: 1px solid;
	padding-top: 0px;
	color: #bcbcbc;
	margin-bottom: 10px;
}

.hero-photo__subtext {
	font-size: 2rem;
	color: #bcbcbc;
	font-weight: 0;
}

/* .portfolio-button {
	align-items: center;
	text-align: center;
	margin-top: 6rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	border: 1px solid;
	border-color: #bcbcbc;
	padding: 1px 1.5px 1px 1.5px;
	color: #bcbcbc;
	border-radius: 25px;
} */

/* .portfolio-button:hover {
	color: rgba(188, 188, 188, 0.35);
	background-color: rgba(188, 188, 188, 0.15);
} */

.bio-block {
	background-color: #282828;
	height: 450px;
	text-align: center;
}

.bio-block__title {
	color: #bcbcbc; 
	font-size: 2rem;
	font-weight: 0;
}

.bio-block__text {
	line-height: 1.6rem;
	margin-top: 2rem;
	color: #bcbcbc;
	font-size: 1.5rem;
}

.we {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #ef048d;
}

.can {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #51b551;
}

.code {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #4a7fa8;
}

.it {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #b74517;
}

.my-pic img {
	width: 200px;
	border-radius: 200px;
	margin-top: 3rem;
	border: 1px solid #bcbcbc;
}

.my-work {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/code.jpg);
	background-position: 50%, 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

.my-work-block__title {
	padding-top: 2.2rem;
	font-size: 2rem;
	font-weight: 0;
	color: #bcbcbc;
	margin-left: 5rem;
}

.my-work__content {
		display: grid;
		width: 80%;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem  ;
		margin: 0 auto;
		padding-top: 6rem;
		color: #bcbcbc;
}

.my-work__content img {
    margin-top: .5rem;
    width: 60%;
    border: 1px solid #bcbcbc; 
}

.my-work__content img:hover {
	content: url(../images/hoverproject.jpg)
}

.tech-stack {
	background-color: #282828;
	height: 300px;
}

.tech-stack-block__title {
	padding-top: 2.2rem;
	font-size: 2rem;
	font-weight: 0;
	text-align: center;
	color: #bcbcbc;
}

.tech-stack-block__text {
	text-align: center;
	font-size: 1.5rem;
	color: #bcbcbc;
	margin-top: 2rem;
}

.contact-me-block {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/coffee.jpg);
	background-position: 50%, 50%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 390px;
}

.contact-me-block__top {
	padding-top: 2.5rem;
	color: #bcbcbc;
	margin-left: 5rem;
}

.contact-me-block__title {
	padding-top: 1rem;
	font-size: 2rem;
	font-weight: 0;
	color: #bcbcbc;
}

.contact-me-block__text {
	margin-top: 2.5rem;
	margin-bottom: 3.5rem;
	margin-left: 5rem;
	line-height: 1.6rem;
	color: #bcbcbc;
	font-size: 1.5rem;
}

.grab-coffee{
	color: #bcbcbc;
	font-size: 1.5rem;
}

.grab-coffee:hover {
	color: #e3522e;
}

.coffee {
	color: #bcbcbc;
	margin-left: 5rem;
} 

.phone {
	font-size: 1.5rem;
	margin-right: 1rem;
}

.phone-line {
	margin-bottom: 1rem;
}

.email {
	font-size: 1.5rem;
	margin-right: 1rem;
}

.i-like-coffee {
	color: #bcbcbc;
}

.i-like-coffee:hover {
	color: #e3522e;
}
.thank-you-block {
	text-align: center;
	height: 175px;
	background-color: #282828;
}

.thank-you-block__text {
	color: #bcbcbc;
	margin-top: 2rem;
	line-height: 1.5rem;
}

.footer__title {
	color: #bcbcbc;
	margin-left: 1rem;
	cursor: pointer;
	padding-bottom: 1rem;
}

.footer__title:hover {
	font-weight: 50;
}

.social-media {
	padding-top: 2.5rem;
}	

.linkedin {
	font-size: 2rem;
	padding-right: 1rem;
	color: #0077b5;
}

.linkedin:hover {
	font-size: 2.2rem;
	color: #bcbcbc;
}

.facebook {
	font-size: 2rem;
	padding-right: 1rem;
	color: #4267b2;
}

.facebook:hover {
	font-size: 2.2rem;
	color: #bcbcbc;
}

.twitter {
	font-size: 2rem;
	padding-right: 1rem;
	color: #1da1f2;
}

.twitter:hover {
	font-size: 2.2rem;
	color: #bcbcbc;
}

.github {
	font-size: 2rem;
	color: #ffffff;
}

.github:hover {
	font-size: 2.2rem;
	color: #bcbcbc;
}

.overlay {    
	height: 100%;
	width: 0;
	position: fixed;
	left: 0;
	background-color: rgba(28,28,28, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
  }
  
  .overlay-content {
	position: relative;
	top: 25%;
	text-align: center;
	margin-top: 30px;
  }
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #999999;
	display: block;
	transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
	color: #ffffff;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  }






