* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

a {
    text-decoration: none;
}

.main-header {
	display: flex;
	align-items: center;
	top: 0;
	width: 100%;
	justify-content: space-between;
	position: fixed;
}

.main-header__title {
	color: #bcbcbc;
	margin-left: 1rem;
	cursor: pointer;
}

.main-header__title:hover {
	font-weight: 50;
}

/* Hamburger Menu button  */
.menu-button div {
	height: 4px;
	background-color: #bcbcbc;
	margin: 5px 0;
	border-radius:25 px;
	transition: 0.3s;
}

.menu-button {
	width: 30px;
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.bar1 {
	width: 30px;
}

.bar2 {
	width: 20px;
}

.bar3 {
	width: 25px;
}

.menu-button:hover div {
	width: 30px;
}

/* Over lay menu */


.overlay {    
	height: 100%;
	width: 0;
	position: fixed;
	left: 0;
	background-color: rgba(28,28,28, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 5;
  }
  
  .overlay-content {
	position: relative;
	top: 25%;
	text-align: center;
	margin-top: 30px;
  }
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #999999;
	display: block;
	transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
	color: #ffffff;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	}

	.closebtn:hover{
		cursor: pointer;
	}
	
	.thank-you-block {
		text-align: center;
		height: 210px;
		background-color: #545454;
	}
	
	.thank-you-block__text {
		color: #bcbcbc;
		padding-top: 2rem;
		line-height: 1.5rem;
	}
	
	.footer__title {
		color: #bcbcbc;
		margin-left: 1rem;
		cursor: pointer;
		padding-bottom: 1rem;
	}
	
	.footer__title:hover {
		font-weight: 50;
	}
	
	.social-media {
		padding-top: 2.5rem;
	}	
	
	.linkedin {
		font-size: 2rem;
		padding-right: 1rem;
		color: #0077b5;
	}
	
	.linkedin:hover {
		color: #bcbcbc;
	}
	
	.facebook {
		font-size: 2rem;
		padding-right: 1rem;
		color: #4267b2;
	}
	
	.facebook:hover {
		color: #bcbcbc;
	}
	
	.twitter {
		font-size: 2rem;
		padding-right: 1rem;
		color: #1da1f2;
	}
	
	.twitter:hover {
		color: #bcbcbc;
	}
	
	.github {
		font-size: 2rem;
		color: #ffffff;
	}
	
	.github:hover {
		color: #bcbcbc;
	}

